<h3>Worksheet bearbeiten</h3>
<%= form_for @worksheet, :html => {:class =>"form-horizontal"} do |f|  %> 
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :max_points %>
	<%= f.text_field :max_points, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :filling_date %>
	<%= f.text_field :filling_date, :class => "form-control", :type => "date" %>
</div>
<div class="form-group">
	<%= f.label :data %>
	<%= f.file_field :data, :type => "file" %>
</div>
<div class="form-group">
	<%= f.submit :class=>"btn btn-default" %>
	<%= link_to "Cancel",  worksheets_path %>
</div>
<% end %>