  <h3>Details zum Worksheet</h3>
<dl>
  	<dt>Titel</dt>
  	<dd><%= @worksheet.title %></dd>
  	
	<dt>Maximal erreichbare Punktzahl</dt>
    <dd><%= @worksheet.max_points %></dd>
    
	<dt>Abgabe</dt>
	<dd><%= @worksheet.filling_date %></dd>
	
	<dt>Download</dt>
	<dd>
		<% if @hasAttachment%>
			<%= link_to @filename, { :action=>"download", :data=> @attachment_id , :controller => "downloads"}, :remote=>true %>
			<br><small>Bitte mit "Ziel speichern unter..." downloaden</small>
		<% else %>
			<small>--- noch kein Übungsblatt hochgeladen ---</small>
		<% end %>
	</dd>
	<br>
<p><%= link_to "Zurück zur Liste", worksheets_path %></p>