<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Kurse', courses_path %></li>
  <li><%= link_to @worksheet.course.name, course_path(@worksheet.course) %></li>
  <li class="active"><%= @worksheet.title %></li>
</ol>
  <h3><%= @worksheet.title %></h3>
<dl>
 	
	<dt>Maximal erreichbare Punktzahl</dt>
    <dd><%= @worksheet.max_points %></dd>
    
	<dt>Abgabe</dt>
	<dd><%= @worksheet.filling_date %></dd>
	
	<dt>Download</dt>
	<dd>
		<% if @worksheet.attachment.nil?%> 			
			<small>--- noch kein Übungsblatt hochgeladen ---</small>
		 <%else%>
			<%= link_to @worksheet.attachment.filename, { :action=>"download", :data=> @worksheet.attachment , :controller => "downloads"}, :remote=>true %>
			<br><small>Bitte mit "Ziel speichern unter..." downloaden</small> 
		<%end%>
	</dd>
	<br>
<p><%= link_to "Zurück", :back %></p>