<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Kurse', courses_path %></li>
  <li><%= link_to @worksheet.course.name, course_path(@worksheet.course) %></li>
  <li class="active"><%= @worksheet.title %></li>
</ol>

<div class="row">
<div class="col-md-8">
 <h3><%= @worksheet.title %></h3>
</div>
<div class="col-md-4">
	         <%= render 'worksheets/edit' %>
	         <%= render 'worksheets/upload' %>
			
</div>
</div>
<div class="row">

<% if @worksheet.description %>
	
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Kurzbeschreibung</h3>
  </div>
  <div class="panel-body">
	<%= @worksheet.description %>

  </div>
</div>

<% end %>
<% if @worksheet.max_points %>

<div class="row">
  <div class="col-md-4"><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maximal erreichbare Punktzahl</h3>
  </div>
  <div class="panel-body">
    <%= @worksheet.max_points %>
  </div>
</div>
</div>
<% end %>
<% if @worksheet.filling_date %>

  <div class="col-md-4"><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Abgabe</h3>
  </div>
  <div class="panel-body">
    <%= @worksheet.filling_date %>
  </div>
</div></div>
<% end %>
<% if @worksheet.attachment %>

  <div class="col-md-4"><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Download</h3>
  </div>
  <div class="panel-body">
    		<% if @worksheet.attachment.nil?%> 			
			<small>--- noch kein Übungsblatt hochgeladen ---</small>
		 <%else%>
			<%= link_to @worksheet.attachment.filename, { :action=>"download", :data=> @worksheet.attachment , :controller => "downloads"}, :remote=>true %>
			<br><small>Bitte mit "Ziel speichern unter..." downloaden</small> 
		<%end%>
  </div>
</div>
</div>
<%end%>
</div>


<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4"></div>

<div class="col-md-4">
  	<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title">Abgaben</h3>
  </div>
  
  <div class="panel-body">
    	 <% if !(@worksheet.contributions.count > 0)%> 			
			<small>--- noch keine Abgabe hochgeladen ---</small>
		 <%else%>
		  <ul class="list-group">

			<% @worksheet.contributions.each do |c| %>
			<% next if (student_signed_in?) && !(c.student == current_student)%>
			<li class="list-group-item">
			<%= c.student.email if c.student %>
			<%= c.group.email if c.group %>
			<br>		
			<% c.attachments.each do |a| %>			
			<%= link_to a.filename, { :action=>"download", :data=> a , :controller => "downloads"}, :remote=>true %>
			<%= link_to '<i class="glyphicon glyphicon-remove pull-right" alt="delete"></i>'.html_safe, delete_attachment_path(a.id),data: {confirm: "Wirklich löschen"}, method: :delete %>
			</li>
		<%end%>
		</ul>
	<%end%>
<%end%>

  </div>
  
	</div>
</div>
	
</div>

	
</div>
<p><%= link_to "Zurück", :back %></p>