<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Students', students_path %></li>
  <li class="active"><%= @student.email %></li>
</ol>

 <h3><%= @student.email %></h3>
<dl>
	<dt><%if admin_signed_in?  %>
	Alle 
	<%elsif student_signed_in? %>
	<%if current_student.id == @student.id%>
	Meine
	<%else%>
	Gemeinsame
	<%end%>
	<%end%>
	Kurse</dt>
    <dd>
    	<div class="container">
  		<div class="row" id="courses-container">
    		<div class="col col-md-4">
<table class="table">
	<tr class="table-header">
	<th>Bezeichnung</th>
	</tr>
	<tr class="table-body">
	<% courses.each do |c|%>
	<td><%= link_to c.name, course_path(c)  %></td>
	</tr>
	<%end%>

</table>

<p><%= link_to "Zurück", :back %></p>