<% if admin_signed_in?%>

<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal"> Bearbeiten </button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	   <%= form_for @course, :html => {:class =>"form-horizontal"} do |f|  %> 

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Kurs Bearbeiten</h4>
      </div>
      <div class="modal-body">
      	
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
	<%= f.label :tutor %><br>
	<%= collection_select(:course,:tutor_id,@tutors, :id, :email, prompt: true, selected: @course.tutor) %>

</div>

	 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
		<%= f.submit :class=>"btn btn-primary" %>
	</div>
      	    <%end %>

  </div>
</div>
</div>
      	    <%end %>
