<h3>
	<%if admin_signed_in? %> All 
	<%else %> Your
	<%end%>
	Courses
</h3>

<table class="table">
	<tr class="table-header">
	<th>Name</th>
	<th>Tutor</th>
	<th>Teilnehmer</th>
	<% if admin_signed_in?%>
	<th>Bearbeiten</th>
	<th>Löschen</th>
	<% end %>
	
	<% @courses.each do |c|%>
	<tr class="table-body">
	<td><%= link_to c.name,  course_path(c.id) %></td>
	<td><%= c.tutor.email if c.tutor %></td>
	<td><%= c.students.count %>
	<% if admin_signed_in?%>
	<td><%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,  edit_course_path(c.id) %></td>
	<td><%= link_to '<i class="glyphicon glyphicon-remove" alt="delete"></i>'.html_safe, course_path(c.id),data: {confirm: "Wirklich löschen"}, method: :delete %></td>
	<% end %>
	<% end %>
	</tr>
	
</table>
	<% if admin_signed_in?%>

<%= link_to "Anlegen", new_course_path, :class=>"btn btn-default" %>
		<%end%>
		
		

