<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Kurse', courses_path %></li>
  <li class="active"><%= @course.name %></li>
</ol>

  <h3><%= @course.name %></h3>

<p>Find me in app/views/courses/show.html.erb</p>
<p><%= link_to "Zurück", :back %></p>