<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if admin_signed_in?%>
        <%= render 'layouts/navigation_admins' %>
        <% elsif student_signed_in? %>
        <%= render 'layouts/navigation_students' %>
        <% else %>
        <%= render 'layouts/navigation_guests' %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	 <%= render 'layouts/navigation_right' %>
      </ul>
    </div>
  </div>
</nav>
