<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tillmannheigel" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tillmannheigel" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <div class="col-xs-6 col-md-3" id="left">
       </div>

   	   <div class="col-xs-12 col-md-6" id="main">

       <%= render 'layouts/messages' %>

       <%= yield %>
       </div>

        <div class="col-xs-6 col-md-3" id="left">

       </div>
    </main>
  </body>
</html>
